.main{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFBFF;
  min-height: 620px;

  .bg-image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 66%!important;
    img{
      width: 100%;
      height: 66vh;
      object-fit:cover;
    }
  }

  .container{
    display: flex;
    z-index: 1;
    width: 60%;
    height: 620px;
    padding: 0;
    min-width: 900px;
    box-shadow: 0 30px 50px 0 rgba(20,122,217,0.1);

    .left-content {
     position: relative;

      .left-img {
        width: 420px;
        height: 620px;
      }

      .left-img-logo {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 161.4px;
        height: 40px;
      }
    }

    .right-content {
      display: flex;
      justify-content: center;
      flex: 1;
      padding: 0 60px;
      width: calc(100% - 420px);
      min-width: 460px;
      background: #fff;

      .card {
        width: 100%;
      }

      h5 {
        font-size: 32px;
        font-weight: bold;
        color: #147AD9;
        margin-top: 52px;
        text-align: center;
      }

      .language {
        //position: absolute;
        //right: 0;
        //top: 0;
        text-align: right;
        img {
          width: 32px;
          height: 32px;
          margin-top: 24px;
          margin-bottom: 32px;
          cursor: pointer;
        }

        ::ng-deep {
          .p-menuitem-icon{
            width: 32px;
            height: 32px;
            background-size: contain;
            margin-right: 16px;
          }

          .p-menuitem-icon.usa {
            background-image: url("~src/assets/images/login/usa.png");
          }

          .p-menuitem-icon.cn {
            background-image: url("~src/assets/images/login/cn.png");
          }

          .p-tieredmenu-overlay {
            top: 170px!important;
            left: 820px!important;
          }

          .p-menuitem-text {
            font-size: 16px;
          }
        }
      }

      button {
        height: 60px;
        background: #147AD9;
        justify-content: center;
        border-radius: 8px 8px 8px 8px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        ::ng-deep {
          .p-button-label {
            display: none
          }
        }
      }

      .user, .pwd {
        position: relative;
        margin-bottom: 24px;

        img {
          position: absolute;
          top: 16px;
          left: 14px;
          width: 32px;

          &.eye {
            left: calc(100% - 46px);
            cursor: pointer;
          }
        }

        input {
          width: 100%;
          height: 64px;
          font-size: 16px;
          padding-left: 52px;
          border-radius: 0;
          border: 2px solid #EBEDF4;
        }

        input::-webkit-input-placeholder{   /* 使用webkit内核的浏览器 */
          font-size: 16px;
          font-weight: 500;
          color: #B6BCD1;
        }
        input:-moz-placeholder{    /* Firefox版本4-18 */
          font-size: 16px;
          font-weight: 500;
          color: #B6BCD1;
        }
        input::-moz-placeholder{    /* Firefox版本19+ */
          font-size: 16px;
          font-weight: 500;
          color: #B6BCD1;
        }
        input:-ms-input-placeholder{   /* IE浏览器 */
          font-size: 16px;
          font-weight: 500;
          color: #B6BCD1;
        }
      }

      .operator {
        margin-bottom: 80px;
        margin-top: -10px;

        label {
          position: relative;
          top: 6px;
          left: 8px;
          font-size: 16px;
          font-weight: 400;
          color: #333;
          cursor: pointer;
        }

        a {
          float: right;
          margin-top: 6px;
          font-size: 16px;
          text-decoration: underline;
          font-weight: 400;
          color: #147AD9;
        }
      }
    }
  }

  .tab {
    position: relative;
    margin-bottom: 24px;
    margin-top: -20px;
    border-bottom: 1px solid #f0f0f0;

    span {
      display: inline-block;
      text-align: center;
      padding: 15px 25px;
      font-size: 16px;
      font-weight: 500;
      color: #999;
      cursor: pointer;

      &.active {
        font-weight: bold;
        color: #147ad9;
        border-bottom: 4px solid #147ad9;
      }
    }
  }

  .okta {
    margin-top: 30px;
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;

    .field {
      width: 100%;
    }
  }
}

.inputs{
  width:100%;
  font-size: 1rem;
  height: 3rem;
  padding:0.2em;
  text-indent: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-shadow: none;
}

:host ::ng-deep  .p-button .pi {
  padding: 0rem 0.5rem !important;
}
