<div class="main login">
  <div class="bg-image">
    <img src="../../../assets/images/login/login-bg.png" alt="" />
  </div>
  <div class="container">
    <div class="left-content">
      <img class="left-img" src="../../../assets/images/login/login-left-bg.png" alt="" />
      <img class="left-img-logo" src="../../../assets/images/login/login-logo.png" alt="" />
    </div>
    <div class="right-content">
      <div class="card p-fluid">
        <h5>{{'login' | translate}}</h5>

        <div class="language">
          <img
            src="../../../assets/images/login/language.png"
            alt=""
            (click)="lang.toggle($event)" />
          <p-tieredMenu #lang [model]="language" [popup]="true"></p-tieredMenu>
        </div>
        <div class="user">
          <img src="../../../assets/images/login/user.png" alt="" />
          <input
            [(ngModel)]="username"
            [placeholder]="'username' | translate"
            pInputText
            type="text"
            (keyup)="winLogin($event)"
          />
        </div>
        <div class="pwd">
          <img src="../../../assets/images/login/pwd.png" alt="" />
          <input
            [type]="pwdType"
            [(ngModel)]="password"
            [placeholder]="'password' | translate"
            pInputText
            (keyup)="winLogin($event)"
          />
          <img
            (mousedown)="pwdType='text'"
            (mouseup)="pwdType='password'"
            alt=""
            class="eye"
            src="../../../assets/images/login/pwd-eye.png" />
        </div>
        <div class="operator">
          <p-checkbox [(ngModel)]="rememberPwd" [binary]="true" inputId="binary"></p-checkbox>
          <label for="binary">{{'remember.me' | translate}}</label>
          <!--          <a (click)="oktaLogin()">OKTA {{'login' | translate}}</a>-->
          <!--          <a>{{'forgot.login.details' | translate}}</a>-->
        </div>
        <div class="field">
          <button pButton type="button" (click)="login()">{{'login' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-center"></p-toast>
