:host {
  ::ng-deep {
  }

  .content {
    overflow-y: auto;
    background: #fff;
    border-radius: 12px;
    height: 100%;
    padding: 24px;

    .carousel-bg {
      margin-top: 25px;
      border-radius: 4px;
      margin-bottom: 24px;
      line-height: 20px;

      div {
        min-height: 40px;
        width: 100%;
        padding: 10px 35px 10px 16px;
        display: inline-block;
        background: #dcebfa;
        border-radius: 4px 4px 4px 4px;
        color: #333;

        img {
          position: relative;
          top: -2px;
          width: 16px;
          height: 16px;
        }
      }
    }

    .info-content {
      border-radius: 15px;
      width: 100%;
      justify-content: space-between;
      height: calc(100% - 100px);
      overflow: hidden;

      .title {
        margin-bottom: 20px;
      }

      .user-info {
        text-align: center;
        min-width: 400px;
        border: 1px solid #dedede;
        padding: 20px;
        height: 100%;
        border-radius: 50px;
        background: rgb(157, 208, 249, 0.2);

        .info {
          text-align: left;
          font-size: 16px;
          margin-bottom: 20px;

          .name {
            display: inline-block;
            width: 110px;
            font-weight: 800;
            text-align: left;
          }

          .value {
            font-weight: 400;
          }
        }
      }

      img {
        display: flex;
        flex: 1
      }
    }
  }
}


